@model IEnumerable<TiKayStore.Models.tb_Product>

<div class="row">
    <div class="col">
        <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
            @foreach (var i in Model)
            {

                if (i.ProductCategory == 1)
                {
                    if (i.Sale.Equals(true))
                    {
                        int perent = (int)(100 - ((i.PriceSale * 100) / i.Price));
                        <div class="product-item phone">
                            <div class="product discount product_filter">
                                <div class="product_image">
                                    <img src="@i.Image" alt="">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>@perent%</span></div>
                                <div class="product_info">
                                    <h6 class="product_name"> @Html.ActionLink(i.Title, "getProductDetails", "ProductDetail", new { @id = i.id }, null)</h6>
                                    <div class="product_price">@TiKayStore.Models.Common.Common.FormatNumber(i.PriceSale)<span>@TiKayStore.Models.Common.Common.FormatNumber(i.Price)</span></div>

                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id=@i.id>add to cart</a></div>
                        </div>
                    }
                    else
                    {
                        <div class="product-item phone">
                            <div class="product discount product_filter">
                                <div class="product_image">
                                    <img src="@i.Image" alt="">
                                </div>
                                <div class="favorite favorite_left"></div>

                                <div class="product_info">
                                    <h6 class="product_name"> @Html.ActionLink(i.Title, "getProductDetails", "ProductDetail", new { @id = i.id }, null)</h6>
                                    <div class="product_price">@TiKayStore.Models.Common.Common.FormatNumber(i.Price)</div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id=@i.id>add to cart</a></div>
                        </div>
                    }

                }
                else if (i.ProductCategory == 42)
                {
                    if (i.Sale.Equals(true))
                    {
                        int perent = (int)(100 - ((i.PriceSale * 100) / i.Price));
                        <div class="product-item laptop">
                            <div class="product discount product_filter">
                                <div class="product_image">
                                    <img src="@i.Image" alt="">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>@perent%</span></div>
                                <div class="product_info">
                                    <h6 class="product_name"> @Html.ActionLink(i.Title, "getProductDetails", "ProductDetail", new { @id = i.id }, null)</h6>
                                    <div class="product_price">@TiKayStore.Models.Common.Common.FormatNumber(i.PriceSale)<span>@TiKayStore.Models.Common.Common.FormatNumber(i.Price)</span></div>

                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id=@i.id>add to cart</a></div>
                        </div>
                    }
                    else
                    {
                        <div class="product-item laptop">
                            <div class="product discount product_filter">
                                <div class="product_image">
                                    <img src="@i.Image" alt="">
                                </div>
                                <div class="favorite favorite_left"></div>

                                <div class="product_info">
                                    <h6 class="product_name"> @Html.ActionLink(i.Title, "getProductDetails", "ProductDetail", new { @id = i.id }, null)</h6>
                                    <div class="product_price">@TiKayStore.Models.Common.Common.FormatNumber(i.Price)</div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id=@i.id>add to cart</a></div>
                        </div>
                    }
                }
                else if (i.ProductCategory == 3)
                {
                    if (i.Sale.Equals(true))
                    {
                        int perent = (int)(100 - ((i.PriceSale * 100) / i.Price));
                        <div class="product-item tablet">
                            <div class="product discount product_filter">
                                <div class="product_image">
                                    <img src="@i.Image" alt="">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>@perent%</span></div>
                                <div class="product_info">
                                    <h6 class="product_name"> @Html.ActionLink(i.Title, "getProductDetails", "ProductDetail", new { @id = i.id }, null)</h6>
                                    <div class="product_price">@TiKayStore.Models.Common.Common.FormatNumber(i.PriceSale)<span>@TiKayStore.Models.Common.Common.FormatNumber(i.Price)</span></div>

                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id=@i.id>add to cart</a></div>
                        </div>
                    }
                    else
                    {
                        <div class="product-item tablet">
                            <div class="product discount product_filter">
                                <div class="product_image">
                                    <img src="@i.Image" alt="">
                                </div>
                                <div class="favorite favorite_left"></div>

                                <div class="product_info">
                                    <h6 class="product_name"> @Html.ActionLink(i.Title, "getProductDetails", "ProductDetail", new { @id = i.id }, null)</h6>
                                    <div class="product_price">@TiKayStore.Models.Common.Common.FormatNumber(i.Price)</div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id=@i.id>add to cart</a></div>
                        </div>
                    }
                }
                else
                {
                    if (i.Sale.Equals(true))
                    {
                        int perent = (int)(100 - ((i.PriceSale * 100) / i.Price));
                        <div class="product-item accessories">
                            <div class="product discount product_filter">
                                <div class="product_image">
                                    <img src="@i.Image" alt="">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>@perent%</span></div>
                                <div class="product_info">
                                    <h6 class="product_name"> @Html.ActionLink(i.Title, "getProductDetails", "ProductDetail", new { @id = i.id }, null)</h6>
                                    <div class="product_price">@TiKayStore.Models.Common.Common.FormatNumber(i.PriceSale)<span>@TiKayStore.Models.Common.Common.FormatNumber(i.Price)</span></div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id=@i.id>add to cart</a></div>
                        </div>
                    }
                    else
                    {
                        <div class="product-item accessories">
                            <div class="product discount product_filter">
                                <div class="product_image">
                                    <img src="@i.Image" alt="">
                                </div>
                                <div class="favorite favorite_left"></div>

                                <div class="product_info">
                                    <h6 class="product_name"> @Html.ActionLink(i.Title, "getProductDetails", "ProductDetail", new { @id = i.id }, null)</h6>
                                    <div class="product_price">@TiKayStore.Models.Common.Common.FormatNumber(i.Price)</div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id=@i.id>add to cart</a></div>
                        </div>
                    }
                }

            }

        </div>
    </div>
</div>


